/node_modules
/public/airline-photo
/public/kerta-photo
/airline-photo
/kerta-photo
/public/hot
/public/storage
/public/XML/*
/public/XML
/public/testNotif.txt
/storage/*.key
/vendor
/.idea
/.vagrant
/.phpintel
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/storage/framework
/ayokulakan.com
